<!-- navbar.html -->
<style>
    /* Import Google Font */
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
    
    /* General styles */
    body {
        margin: 0;
        padding: 0;
        background-color: rgba(237, 231, 250, 1);
        font-family: 'Open Sans', sans-serif; /* Apply Open Sans font to the entire body */
    }
    
    .logo {
        display: inline-block;
        padding: 10px 25px;
    }
    
    .logo span {
        background-color: #181754;
        font-size: 1em;
        vertical-align: top;
        color: #fff; /* Changed color to white for better contrast */
    }
    
    .logo:hover span {
        background-color: #181754;
    }
    
    nav {
        background-color: rgba(217, 214, 240, 1);
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    li {
        font-size: larger;
        display: inline-block;
        padding: 10px 20px;
        margin-right: 10px;
    }
    
    li:last-child {
        margin-right: 0;
    }
    
    .grey {
        font-size: 25px;
        text-align: center;
        padding: 20px 35px;
        text-decoration: none;
        border-radius: 18px;
        color: #fff; /* Changed text color to white for better contrast */
    }
    
    li:not(.logo):hover .grey {
        background-color: #181754;
        color: rgb(75, 28, 140);
        transition: background-color 0.3s, color 0.3s;
    }
    
    h2 {
        font-family: 'Merriweather', serif;
        margin-top: 0;
        text-align: center;
    }
    
    nav a {
        color: rgb(51, 19, 85);
        text-decoration: none;
    }
    
    nav a:hover {
        color: rgb(91, 26, 161);
    }
    
  
   
    
   
  
    
  
    
</style>

<nav>
    <ul>
        <li class="logo"><a href="/ "><img src="..\static\images\Logo.png" style="height: 85px; width: 200px;"></a></li>
        <li class="grey"><a href="leave">Leave Request</a></li>
        <li class="grey"><a href="approve">Approval</a></li>
        <li class="grey"><a href="lms">User</a></li>
    </ul>
</nav>
